<md-dialog aria-label="Entity">
    <form ng-cloak
          ng-submit="saveEntity()"
          name="managerForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Редагування</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <label>Назва</label>
                        <input required name="name" ng-model="entity.name">
                        <div ng-messages="managerForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Опис</label>
                        <input name="description" ng-model="entity.description">
                    </md-input-container>
                    <div layout="row">
                        <span>Callable</span>
                        <span flex></span>
                        <md-checkbox ng-model="entity.callable"></md-checkbox>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit">Зберегти</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>